
script(src='/javascripts/lib/jquery-1.6.4.min.js')
script(src='/javascripts/lib/underscore-min.js')
script(src='/javascripts/lib/backbone-min.js')
script(src='/javascripts/lib/modernizr-1.7.min.js')
script(src='/javascripts/lib/yepnope.1.0.1-min.js')
script(src='/javascripts/lib/respond.min.js')
script(src='/javascripts/lib/prettify.js')