/*
 * Generic rules
 */
fonts = "Helvetica Neue", Helvetica, Arial, sans-serif
font_title = Futura, "Century Gothic", AppleGothic, sans-serif

title_color = #333
text_color = #000

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args