/**
 * Generic styles
 */
html
  overflow-y scroll
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

body
  font 0.8em/1.5 fonts
  width 100%
  height 100%
  color #404040
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  text-rendering optimizeLegibility

img, object
  max-width 100%

img
  vendor('box-shadow', 0 0 6px #111)

label
  display block
  float none
  width auto
  font-weight bold
  text-align left
  line-height 20px
  cursor pointer

strong
  font-weight bold

::-moz-selection, ::selection
  background #fee9cc
  color #222
  text-shadow none