
@import 'mixins'
@import 'generic'

body, html
  background-color #eee
  font-family 'Quattrocento Sans', sans-serif

header
  overflow hidden

.container
  width 77%

#wrapper
  position relative
  margin 0 40px 40px
  padding 50px 50px 20px 50px
  overflow hidden
  background-color #fff
  vendor('box-shadow', 0 2px 8px #ccc)

footer
  clear both

h1
  float left

h1, h2, h3, h4, h5, h6
  font-family 'Salsa', cursive

.login
  text-align right
  margin 5px 50px
  font-size 0.85em

#slogan
  font-size 0.35em
  font-style italic
  font-weight normal

#content
  position relative

#main
  border-right 1px solid #eee
  overflow hidden
  width 71%
  min-height 400px
  padding-right 3%

  img    
    float left
    margin 0 30px 30px 0

#main-menu
  float right
  width 25%

nav
  font-family 'Salsa', cursive

  ul
    margin-left 10%

  li
    list-style-type none

    a
      display block
      line-height 3em
      color #666
      padding 0 10px 0 40px
      border-bottom 1px solid #fff
      -webkit-transition-duration .55s

      &:hover
        color #333
        text-decoration none
        border-bottom-color #e2e2e2
        font-weight bold
      
      &.home
        background url(/images/home.png) 0 5px no-repeat

.alert-message ul
  margin 0

  li
    color #fff
    list-style-type none

#articles li
  list-style-type none

.meta
  font-size 0.6em
  display block
  text-align right
  margin-bottom 5px

.twitter-share-button
  float right

.article-content
  margin 50px 0 0 0

.decorator
  vendor('box-shadow', none)

@media screen and (max-width: 700px)

  #main-menu
    position relative
    float none
    width 100%
    
    ul
      margin 0

  nav li
    float left
    margin 0 0 20px 0

    a
      text-align center
      font-size 1.3em
      padding 0 0 0 40px

  .profile, #slogan
    display none

  #main
    width 100%
    border-right none

#article-form textarea
  width 100%

#articles li
  clear both

  .connected
    margin 40px 0 0 0

.button-group
  display block

@media screen and (max-width: 480px)

  #wrapper
    margin 0

  #main-menu
    position relative
    float none
    margin-bottom 5px
    
    ul
      padding 5px 7px
    
    li a
      font-size 1.1em
      padding 0 0 0 40px

  .profile, #slogan
    display none

  #main
    border-right none